[Unit]
Description=Run ZeusOS pipeline every 5 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Persistent=true
Unit=zeus-os-cycle.service

[Install]
WantedBy=timers.target
